**Big 0 Notation** -> O ()

Time Complexity - Space Complexity

https://www.bigocheatsheet.com/

**Brute Force** -> O(n)

0 ile 100 arasında bir sayıyı tek tek deneme

In [15]:
def bigOn(n):
  for i in range(0,n):
    print(i)

bigOn(4)

0
1
2
3

In [3]:
def bigOn2(n):
  for i in range(0,n):
    for j in range(0,n):
      print(i, j)

bigOn2(5)

0 0
0 1
0 2
0 3
0 4
1 0
1 1
1 2
1 3
1 4
2 0
2 1
2 2
2 3
2 4
3 0
3 1
3 2
3 3
3 4
4 0
4 1
4 2
4 3
4 4

In [5]:
def bigOn3(n):
  for i in range(0,n):
    for j in range(0,n):
      for k in range(0,n):
        print(i,j,k)

bigOn3(5)

0 0 0
0 0 1
0 0 2
0 0 3
0 0 4
0 1 0
0 1 1
0 1 2
0 1 3
0 1 4
0 2 0
0 2 1
0 2 2
0 2 3
0 2 4
0 3 0
0 3 1
0 3 2
0 3 3
0 3 4
0 4 0
0 4 1
0 4 2
0 4 3
0 4 4
1 0 0
1 0 1
1 0 2
1 0 3
1 0 4
1 1 0
1 1 1
1 1 2
1 1 3
1 1 4
1 2 0
1 2 1
1 2 2
1 2 3
1 2 4
1 3 0
1 3 1
1 3 2
1 3 3
1 3 4
1 4 0
1 4 1
1 4 2
1 4 3
1 4 4
2 0 0
2 0 1
2 0 2
2 0 3
2 0 4
2 1 0
2 1 1
2 1 2
2 1 3
2 1 4
2 2 0
2 2 1
2 2 2
2 2 3
2 2 4
2 3 0
2 3 1
2 3 2
2 3 3
2 3 4
2 4 0
2 4 1
2 4 2
2 4 3
2 4 4
3 0 0
3 0 1
3 0 2
3 0 3
3 0 4
3 1 0
3 1 1
3 1 2
3 1 3
3 1 4
3 2 0
3 2 1
3 2 2
3 2 3
3 2 4
3 3 0
3 3 1
3 3 2
3 3 3
3 3 4
3 4 0
3 4 1
3 4 2
3 4 3
3 4 4
4 0 0
4 0 1
4 0 2
4 0 3
4 0 4
4 1 0
4 1 1
4 1 2
4 1 3
4 1 4
4 2 0
4 2 1
4 2 2
4 2 3
4 2 4
4 3 0
4 3 1
4 3 2
4 3 3
4 3 4
4 4 0
4 4 1
4 4 2
4 4 3
4 4 4

In [14]:
import math
def logn(n):
  while n > 1:
    n = math.floor(n/2)
    print(n)

logn(4)

2
1

In [17]:
def nlogn(n):
  lim = n
  while n > 1:
    n = math.floor(n/2)
    for i in range (1, lim):
      print(i)

nlogn(4)

1
2
3
1
2
3

In [21]:
def nfact(n):
  if n == 0:
    print("1")
    return
  else:
    for i in range(0,n):
      print(i)
      nfact(n-1)

nfact(2)

0
0
1
1
0
1