# Phython Giriş

In [ ]:
x = 5
type(x)

In [ ]:
str = "Ömer Faruk Öztürk"
print(str*2)
print(len(str))
print(str[-2])
str[3:] #starting index
str[:3] #stopping index
str[3:10] #birlikte
str[::3] #stepping size
str[::-1] #ters

Ömer Faruk ÖztürkÖmer Faruk Öztürk
17
r

'krützÖ kuraF remÖ'

In [ ]:
mylist = [1,2, 3.3, 4.4, "5", False]
nestedList = [1,2, [3,4], [5,6,[7,8,9,0], 4], 5,3]

In [ ]:
myDict = {'item': 'keys', "item2": "key2", "item3": "key3", "item4": "key4", "item5": "key5"}
myDict.get('omer', 500) #yoksa 500 döndür.

500

In [ ]:
mySet = {1,1,1,1,1,2}
print(mySet)
myTuple = (1,2,3,4,1,2,3,5)
print(myTuple)
print(myTuple.count(5))
#Tuple Unpacking
(x,y) = (4,5)
print(x)
print(y)
(x,y) = (y,x)
print(x)
print(y)

{1, 2}
(1, 2, 3, 4, 1, 2, 3, 5)
1
4
5
5
4

In [ ]:
userage = input("Enter age: ")
print(type(userage))
print(int(userage) + 5)

Enter age: 35
<class 'str'>
40

In [ ]:
#Error Handling
try:
  int("Ömer")
except:
  print("int'e dönüştürülemez.")

int'e dönüştürülemez.

In [ ]:
print(4>3)
print(5<3)

x = 40

if x > 20 and x <= 30:
  print(x, "=> 20-30")
elif x > 30 and x <= 40:
  print(x, "=> 30-40")
else:
  print(f"{x} => dışında") #formatted String

True
False
40 => 30-40

In [ ]:
myList = [1,2,3,4,5,6,7]
for number in myList:
  print(number / 2 * 3)
print("Loop Ended")

1.5
3.0
4.5
6.0
7.5
9.0
10.5
Loop Ended

In [ ]:
40 in myList

False

In [ ]:
"a" in "metallica"

True

In [ ]:
i = 0
while i < 10:
  print(i)
  i += 1

0
1
2
3
4
5
6
7
8
9

In [2]:
list(range(10,30))

[10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29]

In [6]:
myList = ["a", "b", "c", "d", "e"]
for letter in myList:
  print(letter)
print("***********************")
for letter in range(0, len(myList), 2):
  print(letter)

a
b
c
d
e
***********************
0
2
4

In [7]:
elements = [5,6,7,8,9,10,11,12,13,14,15]
for element in enumerate(elements):
  print(element)

(0, 5)
(1, 6)
(2, 7)
(3, 8)
(4, 9)
(5, 10)
(6, 11)
(7, 12)
(8, 13)
(9, 14)
(10, 15)

In [8]:
for(index, number) in enumerate(elements):
  print(f"index: {index} number: {number}")

index: 0 number: 5
index: 1 number: 6
index: 2 number: 7
index: 3 number: 8
index: 4 number: 9
index: 5 number: 10
index: 6 number: 11
index: 7 number: 12
index: 8 number: 13
index: 9 number: 14
index: 10 number: 15

In [9]:
newList = []
str = "Ömer Faruk Öztürk"
for item in str:
  newList.append(item)

newList

#Kısa Yolu: newList = [element for element in str]

['Ö',
 'm',
 'e',
 'r',
 ' ',
 'F',
 'a',
 'r',
 'u',
 'k',
 ' ',
 'Ö',
 'z',
 't',
 'ü',
 'r',
 'k']

In [20]:
def sumFunc(num1 = 5, num2 = 1):
  print(num1 + num2)

aaa = sumFunc(5,15)
default = sumFunc()

20
6

In [17]:
type(aaa)

if aaa:
  print(aaa)
else:
  print("is None")

is None

In [18]:
def returnSumFunc(num1, num2):
  return num1+num2

aab = returnSumFunc(5,15)

In [19]:
type(aab)

if aab:
  print(aab)
else:
  print("is None")

20

Object Oriented

In [47]:
class Musician():
  job = "Musician"

  def __init__(self, name, age, instrument):
    self.name = name
    self.age = age
    self.instrument = instrument

  def sing(self):
    print("sing, sing")
  
  def __len__(self):
    return print(self.age)

  def __str__(self):
    return print(self.name)

In [51]:
omer = Musician("Ömer", 15, "Ney")
print(omer.instrument, omer.age, omer.job)
omer.sing()
#print(len(omer))

Ney 15 Musician
sing, sing

In [52]:
class Class1():
  def __init__(self):
    print("class 1 created")
  def method1(self):
    print("method 1")
  def method(self):
    print("method 2")

In [53]:
class1Instance = Class1()

class 1 created

In [56]:
class Class2(Class1):
  def __init__(self):
    Class1.__init__(self)
    print("class 2 created, || KALITIM")

In [57]:
class2Instance = Class2()

class 1 created
class 2 created, || KALITIM

In [2]:
class Apple():

  def __init__(self, name):
    self.name = name
  
  def information(self):
    return self.name + " 100 Calories"

In [3]:
class Banana():

  def __init__(self, name):
    self.name = name
  
  def information(self):
    return self.name + " 200 Calories"

In [4]:
banana = Banana("banana")
apple = Apple("apple")

fruitList = [banana, apple]

for fruit in fruitList:
  print(fruit.information())

banana 200 Calories
apple 100 Calories